<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Maintenance</h1>
    <p>
      We are actually maintainning this site!
      Thank you for your patience.
    </p>
  </body>
</html>
